.*sc
.sonar
/bin
/target
*.cache
*.class
*.sc
.worksheet

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Eclipse specific
.classpath
.cache